# Not Used in Kubernetes

version: "3.9"

services: 
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: go-backend
    ports:
      - 8080:8080
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: react-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend


volumes:
  mongo_data:  