name: Fullstack CI (React + Go)

on:
    push:
        branches: [main]
    pull_request:

env:
    REGISTRY: docker.io
    IMAGE_BACKEND: dharun0406/movie-backend
    IMAGE_FRONTEND: dharun0406/movie-frontend
    GO_VERSION: "1.25"
    NODE_VERSION: "20"


# BACKEND CI (Go)
jobs:
    backend-ci:
        name: Backend CI
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Go Setup
              uses: actions/setup-go@v5
              with:
                go-version: ${{ env.GO_VERSION }}

            - name: Go format
              run: gofmt -w backend/

            - name: Run unit tests
              run: |
                cd backend/server
                go test ./backend/.. -race -coverprofile=cover.out

            - name: Upload coverage
              uses: actions/upload-artifact@v4
              with:
                name: backend-coverage
                path: coverage.out


# FRONTEND CI (React)

    frontend-ci:
        name: Frontend CI
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: ${{ env.NODE_VERSION}}
                cache: npm
                cache-dependency-path: frontend/package-loc.json

            - name: Install deps
              run: |
                cd frontend
                npm ci

            - name: Lint
              run: |
                cd frontend
                npm run lint

            - name: Run tests
              run: |
                cd frontend
                npm test -- --watch=false


# SECURITY SCAN (CODE)
    security-code:
        name: Security Scan Code
        runs-on: ubunru-latest
        needs: [backend-ci,frontend-ci]

        steps:
            - uses: actions/checkout@v4

            - name: Trivy filesystem scan
              uses: aquasecurity/trivy-action@master
              with:
                scan-type: fs
                scan-ref: .
                severity: HIGH,CRITICAL
                exit-code: 1


# BUILD and PUSH DOCKER IMAGES
    docker-build:
        name: Build & Push Images
        runs-on: ubuntu-latest
        needs: security-code

        steps:
            - uses: actions/checkout@v4

            - name: Login to DockerHub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and Push Backend
              run: |
                docker build -t $IMAGE_BACKEND:${{ github.sha }} backend/server
                docker tag $IMAGE_BACKEND:$${{ github.sha }} $IMAGE_BACKEND:latest
                docker push $IMAGE_BACKEND:${{ github.sha }}
                docker push $IMAGE_BACKEND:latest
                
            - name: Build & push frontend
              run: |
                docker build -t $IMAGE_FRONTEND:${{ github.sha }} frontend
                docker tag $IMAGE_FRONTEND:${{ github.sha }} $IMAGE_FRONTEND:latest
                docker push $IMAGE_FRONTEND:${{ github.sha }}
                docker push $IMAGE_FRONTEND:latest


#  SECURITY SCAN (IMAGE)
    security-images:
        name: Security Scan (Image)
        runs-on: ubuntu-latest
        needs: docker-build

        steps:
            - name: Scan backend image
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: ${{ env.IMAGE_BACKEND }}:latest
                severity: CRITICAL,HIGH
                exit-code: 1

            - name: Scan frontend image
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: ${{ env.IMAGE_FRONTEND }}:latest
                severity: CRITICAL,HIGH
                exit-code: 1